<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>
<body>
<h1>SIGN UP</h1>
    <form action="/register" method="post">
        <div>
            <label for="name">Name</label>
            <input type="name" name="name" required>
        </div>
        <div>
            <label for="profilePict">Profile Picture</label>
            <input type="url" name="profilePict" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" required>
        </div>
        <div>
        <label for="role">sign up as:</label>
        <select name="Role">
            <option value="seller">seller</option>
            <option value="buyer">buyer</option>
        </select>
        </div>
    <button type="submit">sign up</button>
    </form>

    <a href="/home">home</a>
</body> 
</html>